* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  background: white;
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: lowercase;
  color: #222;
}

.logo span {
  display: block;
  font-size: 10px;
  font-weight: normal;
  color: #888;
  letter-spacing: 2px;
}

.nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  font-size: 22px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ffc107;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a.active {
  color: #ffc107;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.phone-btn {
  background: #ffc107;
  color: #222;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  transition: all 500ms ease;
}

.lang-switcher {
  position: relative;
}

.lang-switcher span {
  margin-right: 5px;
}

.lang-switcher select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}







.features {
  position: relative;
  background: url('images/women.png') no-repeat center center fixed;
  background-size: cover;
  padding: 265px 20px 120px;
  text-align: center;
  color: white;
}

.features h3 {
  font-size: 70px;
  font-weight: 800;
  font-family: 'Georgia', serif;
  margin: 10px;
}

.features h2{
  font-size: 22px;
  margin: 30px;
  font-weight: 400;
}

.features p {
  font-size: 16px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.block img{
  position: relative;
  bottom: 10px ;
}

.block {
  display: flex;
  gap: 10px;
  font-size: 16px;
  padding-left: 800px;
}

.btn {
  background-color: #ffc107;
  color: #222;
  padding: 25px 20px;
  border-radius: 35px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  width: auto;
  display: inline-block;
  transition: all 500ms ease;
}

.btn:hover,
.phone-btn:hover {
  transform: scale(1.1);
  background-color: #ac8100;
  color: white;
}



.big-text{
  padding: 59px;
  font-size: 43px;
  font-weight: 600;
  text-align: center;
  color: #111;
}

.big-text::after {
  content: "";
  display: block;
  width: 100px;               /* длина полоски */
  height: 5px;               /* толщина полоски */
  background-color: #ffc107;
  margin: 20px auto ;
  border-radius: 2px;       
}








.cards-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 100%;
  padding-bottom: 69px;
}

.descr {
  position: relative;
  width: 320px;
  height: 420px;  
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card-text {
  padding: 0px 0px 10px 10px;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: white;
  font-size: 25px;
  z-index: 2;
}

.card-text .highlight,
.overlay .highlight{
  color: #FFD700;
}

.card-text p {
  line-height: 1.4;
}




.kitchen-section {
  display: flex;
  gap: 50px;
  padding: 20px;
  justify-content: center;
}

.kitchen-card{
  display: block;
  text-decoration: none;
  position: relative;
  border-radius: 12px;
  color: black;
  transition: transform 0.3s ease;
  border-radius: 12px;
  width: 550px;
  height: auto;
  overflow: hidden;
}

.kitchen-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 25px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный чёрный */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-bottom: 30px;
}

.kitchen-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
}

.price {
  font-size: 18px;
  font-weight: 550;
}

.info {
  font-size: 14px;
  font-weight: 300;
  margin-right: 20px;
}



footer{
    background: #F9F9F9;
    padding: 50px 0;
}

footer .blocks{
    display: flex;
    justify-content: space-between;
}

footer .blocks h4{
    font-weight: 700;
    font-size: 25px;
    position: relative;
    margin-bottom: 20px;
}

footer .blocks ul{
    list-style: none;
}

footer .blocks ul li{
    margin-top: 7px;
    opacity: 0.8;
}

footer > p{
    text-align: center;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.f-nav li a {
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
  display: inline-block;
  opacity: 0.9;
}

.f-nav ul {
  margin-top: 40px;
}

footer .blocks h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 4px;
  background-color: #FFD700;
  border-radius: 2px;
}
/* ul li a:hover {
  text-decoration: underline; подчеркивание ссылок
} */